<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title | Web Sandbox</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="learning, html, css, MVC, Convert HTML to MVC, MVC1" />
    <meta name="author" content="David Hall" />

    <link href="~/Content/css/custom.css" rel="stylesheet" />

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">

    <!--Render Section for Style that is associated with the CSS view-->
    @RenderSection("style",false)
</head>
<body>    
    <header>        
        <div id="headerOverLay">
            <h1>Web Sandbox</h1>
            <p>Notes and Resources for HTML and CSS</p>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("HTML","Home")">HTML</a>
            </li>
            <li>
                <a href="@Url.Action("CSS","Home")">CSS</a>
            </li>
            <li>
                <a href="@Url.Action("Resources","Home")">Resources</a>
            </li>
        </ul>
    </nav>
    <main>        
        @RenderBody()
    </main>
    <footer>
        &copy; Copyright 2020 David Hall
    </footer>
</body>
</html>